/* @import './base.css'; */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
  /* Muesli Nâu */
  --color-muesli-50: #f6f4f0;
  --color-muesli-100: #eae3d7;
  --color-muesli-200: #d6c9b2;
  --color-muesli-300: #bfa785;
  --color-muesli-400: #bfa785;
  --color-muesli-500: #9d7955;
  --color-muesli-600: #866248;
  --color-muesli-700: #6c4c3c;
  --color-muesli-800: #5c4237;
  --color-muesli-900: #513932;
  --color-muesli-950: #2d1e1b;
}